{{ define "home/index.html" }}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Home</title>
    <link href="/static/assets/favicon.ico" rel="shortcut icon">
    <link href="{{ .bs }}" rel="stylesheet">
</head>
<body>
<p>The current time is {{ .now}}</p>
</body>
</html>
{{ end }}